body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.menu-toggle {
    display: none; /*oculta no desktop*/
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
}
.menu-toggle .menu-bar {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.grid-item {
    cursor: pointer;  /*indica que é clicavel*/
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.grid-item p {
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px auto;
    text-align: justify;
    padding: 0 20px;
    color: #000000;
}

.grid-item:hover {
    transform: scale(1.02); /*leve zoom no hover*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* títulos dos pontos turísticos */
.grid-item h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px auto;
    color: #003366;
    text-align: center;
}

/*imagens*/
.grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}

/*header*/
.header {
    background: linear-gradient(to bottom, #004085, #007bff);
    color: white;
    text-align: center;
    padding: 90px 0;
    margin: 0;
    position: relative;
    z-index: 1;
}
.header h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.header p {
    font-size: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
/*modal*/ 
.modal {
    display: none;      /*oculta o modal inicialmente*/
    position: fixed;
    z-index: 1000;
    top: 0%;          /*garante a centralização dentro do espaço total de 100% de largura e altura*/
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);              
    padding: 40px;   /*evita que o modal encoste nas laterais da tela*/
}
/*conteúdo do Modal*/
.modal-content {
    background-color: white;
    border-radius: 10px;
    max-width: 90%;    /*largura maxima em 90% da tela*/ 
    max-height: 90%;  /*altura maxima em 90% da tela*/
    margin: 0 auto;   /*alinha horizontalmente o modal ao centro da tela*/
    overflow-y: auto; /*permite rolagem caso o conteúdo seja maior*/
    padding: 40px;         
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
/*título do Modal*/
.modal-content h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #0056b3;
    text-align: center;
}
/*descrição do Modal*/
.modal-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin: 10px 0 20px;
    text-align: justify;
}
/*botão de fechar*/
.modal .close {
    color: black;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}
.modal .close:hover,
.modal .close:focus {
    color: #626262;
}
/*estilização do texto no model*/
#modal-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}
#modal-description p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Arial;
}
#modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #004085;
    text-align: center;
}
/*estilo do mapa*/
#modal-map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
.footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}
.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}
.footer a:hover {
    text-decoration: underline;
}

/*qr code*/
/* Centraliza a seção do QR Code */
#qr-reader-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Estiliza o leitor de QR Code */
.qr-reader {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

/* Área do scanner */
.qr-scanner {
    width: 100%;
    min-height: 300px;
    border: 2px solid #007bff;
    border-radius: 10px;
}

/* Botão de fechar scanner */
.btn-fechar {
    margin-top: 15px;
    background: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-fechar:hover {
    background: #c82333;
}

@media (max-width: 768px) {
   .menu-toggle {
        display: flex; /*mostra o botão sanduíche no mobile*/
    }
    .modal-content {
        max-width: 95%;
        max-height: 85%;
        padding: 20px;
    }
    #modal-map {
        height: 200px;
    }
    .header {
        padding: 120px 50px;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header p {
        font-size: 1rem;
    }
    .grid-container {
        grid-template-columns: 1fr; /*cartões empilhados*/
        gap: 5px;
    }
    .grid-item {
        padding: 15px;
        font-size: 0.9rem;
    }
    .grid-item img {
        height: auto;
    }
    .grid-item h2 {
        font-size: 1.2rem;
    }
    .grid-item p {
        font-size: 0.9rem;
    } 
    .footer {
        font-size: 0.8rem;
    }
    

}