body.conheca-page .navbar {
    background: linear-gradient(to bottom, #004085, #007bff);
}
.navbar {
    width: 100%;
    position: fixed; /* Mantém a navbar fixa */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #004085, #007bff);
    z-index: 10;
}
.btn-cadastrar {
    background-color: #007bff; 
    color: #fff; 
    padding: 8px 15px;                    
    border-radius: 20px;                   
    text-decoration: none;                 
    transition: background-color 0.3s ease; /*animação suave ao passar o mouse*/
}
.btn-cadastrar:hover {
    background-color: #0056b3; 
}
.menu-toggle {
    display: none; /*oculta no desktop*/
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
}
.menu-toggle .menu-bar {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid-item p {
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px auto;
    text-align: justify;
    padding: 0 10px;
    color: #000000;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* títulos dos pontos turísticos */
.grid-item h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px auto;
    color: #003366;
    text-align: center;
}

 /*link saiba mais */
.grid-item .link-saiba-mais {
    display: block;  /*faz o link ocupar a linha inteira*/
    margin: 10px auto 0; /*centraliza horizontalmente e adiciona espaçamento superior*/
    text-align: center;  /*centraliza o texto no link*/
    color: #007bff;
    font-size: 1rem;
    text-decoration: underline;    /*sublinhado*/
    transition: color 0.3s ease;
    background: none;
    border: none;
    padding: 0;
}
.grid-item .link-saiba-mais:hover {
   color: #4000ff;
   background: none;
   border: none;
}
/*imagens*/
.grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}
/* Background geral */
body {
    background: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
    font-family: 'Poppins', sans-serif;
}
/*header*/
.header {
    background: linear-gradient(to bottom, #004085, #007bff);
    color: white;
    text-align: center;
    padding: 90px 0;
    margin: 0;
    position: relative;
    z-index: 1;
}
.header h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.header p {
    font-size: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
/*modal*/ 
.modal {
    display: none;      /*oculta o modal inicialmente*/
    position: fixed;
    z-index: 1000;
    top: 0%;          /*garante a centralização dentro do espaço total de 100% de largura e altura*/
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);              
    padding: 40px;   /*evita que o modal encoste nas laterais da tela*/
}
/*conteúdo do Modal*/
.modal-content {
    background-color: white;
    border-radius: 10px;
    max-width: 90%;    /*largura maxima em 90% da tela*/ 
    max-height: 90%;  /*altura maxima em 90% da tela*/
    margin: 0 auto;   /*alinha horizontalmente o modal ao centro da tela*/
    overflow-y: auto; /*permite rolagem caso o conteúdo seja maior*/
    padding: 40px;         
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
/*título do Modal*/
.modal-content h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #0056b3;
    text-align: center;
}
/*descrição do Modal*/
.modal-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin: 10px 0 20px;
    text-align: justify;
}
/*botão de fechar*/
.modal .close {
    color: black;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}
.modal .close:hover,
.modal .close:focus {
    color: #626262;
}
/*estilização do texto no model*/
#modal-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}
#modal-description p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Arial;
}
#modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #004085;
    text-align: center;
}
/*estilo do mapa*/
#modal-map {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
.footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}
.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}
.footer a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .navbar-links {
        display: none; /*oculta no mobile por padrão*/
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: rgba (0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 5px;
        border-radius: 8px;
        z-index: 1000;
    }
    .menu-toggle {
        display: flex; /*mostra o botão sanduíche no mobile*/
    }
    .modal-content {
        max-width: 95%;
        max-height: 85%;
        padding: 20px;
    }
    #modal-map {
        height: 250px;
    }
    .header {
        padding: 120px 50px;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header p {
        font-size: 1rem;
    }
    .grid-container {
        grid-template-columns: 1fr; /*cartões empilhados*/
        gap: 15px;
    }
    .grid-item {
        padding: 15px;
        font-size: 0.9rem;
    }
    .grid-item img {
        height: auto;
    }
    .grid-item h2 {
        font-size: 1.2rem;
    }
    .grid-item p {
        font-size: 0.9rem;
    } 
    .link-saiba-mais {
        font-size: 0.9rem;
    }

    .footer {
        font-size: 0.8rem;
    }
    

}