*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body.page-cadastro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #007bff, #0056b3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-recuperar {
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s ease-in-out;
}

.form-recuperar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-recuperar {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000;
}

.input-recuperar {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    font-size: 15px;
    background-color: #f1f1f1;
}

.botao-recuperar {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-recuperar:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}