body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
/*elimina o sanduiche das telas computacionais*/
.menu-toggle {
    display: none;
}
.btn-cadastrar {
    background-color: #007bff; 
    color: #fff; 
    padding: 8px 15px;                    
    border-radius: 20px;                   
    text-decoration: none;                 
    transition: background-color 0.3s ease; /*animação suave ao passar o mouse*/
}
.btn-cadastrar:hover {
    background-color: #0056b3; 
}


/*header*/
header {
    background: linear-gradient(to bottom, #004085, #007bff);
    color: white;
    text-align: center;
    padding: 90px 0px;
    margin: 0;
    position: relative;
    z-index: 1;
}
header h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
header p {
    font-size: 1rem;
}
/*mapa*/
#map {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 95%;
}
/* seções */
section {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}
section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #007bff;
    text-align: center;
}
/*listas*/
ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
ul li {
    margin: 10px 0;
    padding-left: 25px;
    position: relative;
    font-size: 1rem;
    color: #555;
}
/* formulários */
form {
    text-align: center;
    margin: 20px 0;
}
#calcular {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
#calcular:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
/*botao compartilhar*/
#compartilhar-planejamento {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
#compartilhar-planejamento:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
/*dicas*/
.dicas {
    background-color: #f0f8ff;
    padding: 20px;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
    border-radius: 10px;
}
.dicas h3 {
    color: #003366;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
footer {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}
footer a:hover {
    text-decoration: underline;
}

.menu-toggle .menu-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }


@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Exibe o botão no mobile */
       
    }

}
