/*css da tela inicial*/
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
  background: linear-gradient(to bottom, #004085, #007bff);
  min-height: 500px;
}
.home .container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.logo-home {
  max-width: 250px;
  height: auto;
  margin-bottom: 25px;
  transform: scale(1.5);
  display: block;
  margin-right: 20px;
  margin: auto;
  margin-top: -50px;
  align-items: center;
  justify-content: center;
}
.home h1 {
  font-size: 3.2rem;
  margin-bottom: 15px;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.home h2 {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.btn.btn-primary {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  background-color: #0056b3;
  color: #ffffff;
}
.carousel-inner img {
  height: 80vh;
  transition: transform 1s ease;
  object-fit: cover;
  opacity: 1s ease;
}
.carousel {
  margin-top: 20px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
}
.carousel-control-prev, .carousel-control-next {
  width: 5%;
}
.destaques {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0056b3;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  flex: 1;
  margin: 10px;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #004085;
}
.card p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
  text-align: justify;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.footer {
  text-align: center;
  padding: 20px;
  background: #004085;
  color: white;
}