/*navbar geral das telas*/
.navbar {
    background-color: #ffffff;
    flex-wrap: wrap;
    font-family: system-ui;
    line-height: 24px;
    box-shadow: none;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*container da navbar*/
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/*logo e nome*/
.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
    font-family: system-ui;
    line-height: 36px;
    margin: 0px 16px 0px 0px;
    padding: 5px 0px;
}
.navbar-brand .logo {
    height: 40px;
    margin-right: 10px;
}
/*links navbar*/
.navbar-links {
    display: flex;
    list-style: none;
    gap: 15px;
}
.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-family: system-ui;
    line-height: 24px;
    text-align: left;
    display: inline;
    transition: color 0.3s ease;
}
.navbar-links a:hover {
    color: #949494;
}
.navbar-links ul {
    display: flex;
    gap: 15px;
    line-height: 24px;
    margin: 0px 0px 16px;
    padding: 0px 0px 0px 32px;
}
/* botão "Cadastre-se" */
.btn-cadastrar {
    background-color: #007bff;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-cadastrar:hover {
    background-color: #0056b3;
}


/* ajuste específico para a navbar na tela de cadastro.html */
.page-cadastro .navbar {
    position: absolute;      /*p deixar a navbar fora do fluxo para não "empurrar" o conteúdo*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: none; 
}
.page-cadastro .navbar .navbar-links a { 
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;/* Ajuste a cor dos links para branco ou uma cor que contraste com o fundo */
}
.page-cadastro .navbar .navbar-links a:hover {
    color: #949494;
}
.page-cadastro .navbar .navbar-brand {
    color: #003366; 
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.page-cadastro .navbar .btn-cadastrar {
    background-color: #007bff; 
    color: #fff;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease
}
.page-cadastro .navbar .btn-cadastrar:hover {
    background-color: #0056b3;   
}


@media (max-width: 768px) {
    .navbar-container {
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    .navbar-links {
        flex-wrap: nowrap;
        gap: 10px;
    }
    .navbar-links a {
        font-size: 0.9rem;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
    .btn-cadastrar {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    }

  
