body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #004085, #007bff);
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
}
body, .qrcode-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*body ocupa toda a altura da tela */
}

/*centraliza a seção inteira */
.qr-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px; 
}
/*estiliza o leitor de QR Code */
.qr-reader {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

/*área do scanner */
.qr-scanner {
    width: 100%;
    min-height: 300px; /* Define um tamanho adequado */
    border: 2px solid #007bff;
    border-radius: 10px;
}

/*botão de voltar */
.btn-voltar {
    margin-top: 15px;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-voltar:hover {
    background: #0056b3;
}
.footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: auto; /* Empurra o footer para o final da tela */
}